/* Color customization */
:root {
  --primary: rgb(220,220,220);
}

/*
  Make image rasterization lazy. This means that e.g. the cost of the
  blurry placeholder is never paid if images load before entering
  the viewport.
  Context
  - https://web.dev/content-visibility/#skipping-rendering-work-with-content-visibility
 */
main img {
  content-visibility: auto;
}

/* Avoid the header hiding the content on anchor scroll. */
article * {
  scroll-margin-top: 50px;
}

/* "Content-visibility: auto" move the images over the other elements
   Set z-index to keep the nav over the rasterized images */
header nav {
  z-index: 1;
}

/*! purgecss start ignore */
:root {
  --main-width: calc(100vw - 3em);
}

@media (min-width: 37.5em) {
  :root {
    --main-width: calc(37.5em - 3em);
  }
}
/*! purgecss end ignore */

/* shadows-into-light-two-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/shadows-into-light-two-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  background-color: rgb(20,20,20);
  color: rgb(255,255,255);
}

a {
  color: rgb(255,255,255);
}

img {
  width: 100%;
}

h1 {
  font-family: 'Shadows Into Light Two';
}

body > header > a {
  text-decoration: none;
}

share-widget {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.9;
}

share-widget div {
  width: 30px;
  height: 30px;
  background-image: url("/img/share.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.apple share-widget div {
  background-image: url("/img/share-apple.svg");
}

share-widget button {
  margin: 0;
}

share-widget button:active {
  transform: scale(1.2);
}

article {
  margin-top: 1em;
}

.pickled-ginger {
  clear: both;
}

.services > a {
  display: block;
  float: left;
  margin-right: 1em;
  padding: 1em;
  transition: background-color .2s ease-in
}

.services > a:hover {
  background-color: rgb(50,50,50);
}

.tracks td {
  padding-right: 1em;
}

.album-link {
  padding: .2em;
  text-decoration: none;
  vertical-align: middle;
}

.album-link > img {
  width: 60px;
}

footer {
  background-color: rgb(220,220,220);
  color: rgb(20,20,20);
  margin-top: 2em;
  padding: 1em;
}

footer a {
  color: rgb(20,20,20);
}