---
title: Professor Flitch
layout: home.njk
description: Professor FLitch is making music. Period.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

{% set albumslist = collections.album %}
{% include "albumslist.njk" %}

<article>
  ABOUT
</article>