---
title: Professor Flitch
layout: home.njk
description: Stephan Weinhold - Projektmanager und Autor
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

{% set albumslist = collections.album %}
{% include "albumslist.njk" %}