---
title: Professor Flitch
layout: home.njk
description: Professor Flitch is making music. Period.
date: Last Modified
---

Professor Flitch is not a professor. Neither at day nor at night. Professor Flitch is a band. That happens to have only one member. Now one could argue that artist is the more appropriate term here. But the Professor insists that they… erm… he is a band. Guitars, bass, drums, synths. No vocals. Professor Flitch is making music. Sometimes fast, sometimes slow, always full of life. And hope. And kicking clouds, favorite places, childhood memories, good times. Maybe music is an understatement here. Professor Flitch is painting landscapes. Never trying to fit into an algorithm. Always trying to fit into your heart.

<article class="pickled-ginger">&nbsp;</article>

<div class="icons">
  <a href="https://professorflitch.bandcamp.com/" title="Listen to Professor Flitch on Bandcamp"><img src="/img/bandcamp.png" alt="Listen to Professor Flitch on Bandcamp"/></a>
  <a href="https://www.youtube.com/channel/UCj_npSLO7ZFEV5XJR1CpVLQ" title="Visit Professor Flitch on YouTube"><img src="/img/youtube.png" alt="Visit Professor Flitch on YouTube"/></a>
  <a href="https://www.instagram.com/professorflitch/" title="Visit Professor Flitch on Instagram"><img src="/img/instagram.png" alt="Visit Professor Flitch on Instagram"/></a>
  <a href="https://music.amazon.com/artists/B09ZBJPR3K/professor-flitch" title="Listen to Professor Flitch on Amazon Music"><img src="/img/amazonMusic.png" alt="Listen to Professor Flitch on Amazon Music"/></a>
  <a href="https://open.spotify.com/artist/1ZkQVFf5wIvdw9byJpgBxo" title="Listen to Professor Flitch on Spotify"><img src="/img/spotify.png" alt="Listen to Professor Flitch on Spotify"/></a>
  <a href="https://music.apple.com/us/artist/professor-flitch/1622030884" title="Listen to Professor Flitch on Apple Music"><img src="/img/appleMusic.png" alt="Listen to Professor Flitch on Apple Music"/></a>
  <a href="https://listen.tidal.com/artist/31947350" title="Listen to Professor Flitch on Tidal"><img src="/img/tidal.png" alt="Listen to Professor Flitch on Tidal"/></a>
  <a href="https://soundcloud.com/professorflitch" title="Listen to Professor Flitch on Soundcloud"><img src="/img/soundcloud.png" alt="Listen to Professor Flitch on Soundcloud"/></a>
  <a href="https://www.deezer.com/en/artist/168546577" title="Listen to Professor Flitch on Deezer"><img src="/img/deezer.png" alt="Listen to Professor Flitch on Deezer"/></a>
  <a href="https://music.youtube.com/channel/UCXFAXLBmR-O5b-jVcTolS-w" title="Listen to Professor Flitch on YouTube Music"><img src="/img/ytMusic.png" alt="Listen to Professor Flitch on YouTube Music"/></a>
</div>

<article class="pickled-ginger">&nbsp;</article>

{% set albumslist = collections.album %}
{% include "albumslist.njk" %}

<article class="pickled-ginger">&nbsp;</article>
