---
#layout: base.njk
templateClass: tmpl-album
---
{% extends "base.njk" %}

{% block album %}
<h2>{{ title }}</h2>
<img class="album-cover" src="{{ image }}" alt="{{ title }}" />

{% if services %}
<div class="services">
  {% for service, url in services %}
    <a href="{{ url }}"><img src="/img/{{ service }}.png" alt="{{ service }}" /></a>
  {% endfor %}
</div>
<div class="pickled-ginger"> </div>
{% endif %}

{% if datePublished %}
<p>
  <time datetime="{{ datePublished }}">{{ datePublished | niceDate }}</time>
</p>
{% endif %}

{% if tracks %}
<table class="tracks">
  {% for track,time in tracks %}
    <tr><td>{{ loop.index }}.</td><td>{{ track }}</td><td>({{ time }})</td></tr>
  {% endfor %}
</table>
{% endif %}

{{ content | safe }}

{% set shareUrl = metadata.url + page.url %}
{% set previousAlbum = collections.album | getPreviousCollectionItem(page) %}
{% set nextAlbum = collections.album | getNextCollectionItem(page) %}
<p>
  {% if previousAlbum %}
    <a class="album-link" href="{{ previousAlbum.url }}" style="background-color: {{ previousAlbum.data.secondaryColor }}; color: {{ previousAlbum.data.primaryColor }};">
      ❮ <img src="{{ previousAlbum.data.image }}" /> {{ previousAlbum.data.title }}
    </a><br>
  {% endif %}
  {% if nextAlbum %}
    <a class="album-link" href="{{ nextAlbum.url }}" style="background-color: {{ nextAlbum.data.secondaryColor }}; color: {{ nextAlbum.data.primaryColor }};">
      {{ nextAlbum.data.title }} <img src="{{ nextAlbum.data.image }}" /> ❯
    </a>
  {% endif %}
</p>

<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

<script>
let shareData = {
  title: '{{ artist }}',
  text: '{{ title }}',
  url: '{{ shareUrl }}'
};
const btn = document.querySelector('button');

btn.addEventListener('click', () => {
  navigator.share(shareData);
});
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MusicAlbum",
  "albumProductionType": "{{ albumProductionType }}",
  "albumReleaseType": "{{ albumReleaseType }}",
  "byArtist": {
    "@type": "MusicGroup",
    "name": "{{ artist }}"
  },
  "numTracks": "{{ numTracks }}",
  "datePublished": "{{ datePublished }}",
  "identifier": {
    "@type": "PropertyValue",
    "propertyID": "gtin12",
    "value":  "{{ gtin12 }}"
  }
  "genre": "{{ genre }}",
  "isFamilyFriendly": true,
  "locationCreated": {
    "@type": "AdministrativeArea",
    "name": "{{ locationCreated }}"
  },
  "name": "{{ title }}",
  "url": "{{ shareUrl }}""
}
</script>
{% endblock %}
