<div class="albums-list">
  {% for album in albumslist | sort(attribute="data.title") | reverse %}
    <section>
      <a href="{{ album.url }}">
        <img src="{{ album.data.image }}" alt="{{ album.data.title }}" />
      </a>
    </section>
  {% endfor %}
</div>