---
#layout: base.njk
templateClass: tmpl-album
---
{% extends "base.njk" %}

{% block album %}
{{ content | safe }}

{% set shareUrl = metadata.url + page.url %}
{#{% set previousAlbum = collections.album | getPreviousCollectionItem %}
{% set nextAlbum = collections.album | getNextCollectionItem %}
<p>
  {% if previousAlbum %}<a href="{{ previousAlbum.url }}">&larr; {{ previoustitle }}</a><br>{% endif %}
  {% if nextAlbum %}<a href="{{ nextAlbum.url }}">&rarr; {{ nexttitle }}</a>{% endif %}
</p>
#}
<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

<script>
let shareData = {
  title: '{{ artist }}',
  text: '{{ title }}',
  url: '{{ shareUrl }}'
};
const btn = document.querySelector('button');

btn.addEventListener('click', () => {
  navigator.share(shareData);
});
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MusicAlbum",
  "albumProductionType": "{{ albumProductionType }}",
  "albumReleaseType": "{{ albumReleaseType }}",
  "byArtist": {
    "@type": "MusicGroup",
    "name": "{{ artist }}"
  },
  "numTracks": "{{ numTracks }}",
  "datePublished": "{{ datePublished }}",
  "identifier": {
    "@type": "PropertyValue",
    "propertyID": "gtin12",
    "value":  "{{ gtin12 }}"
  }
  "genre": "{{ genre }}",
  "isFamilyFriendly": true,
  "locationCreated": {
    "@type": "AdministrativeArea",
    "name": "{{ locationCreated }}"
  },
  "name": "{{ title }}",
  "url": "{{ shareUrl }}""
}
</script>
{% endblock %}
