---
title: Professor Flitch
layout: home.njk
description: Professor Flitch is making music. Period.
date: Last Modified
---

<style>
audio {
  display: block;
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  height: 25px;
  margin: 1em 0 .5em;
  width: 280px;
}

figure {
  margin: 2em 0;
}

figure a {
  font-size: .8em;
}
</style>

<h2>Information</h2>

<details>
  <summary>About Professor Flitch - English Version</summary>
  <p>Professor Flitch is not a professor. Neither at day nor at night. Professor Flitch is a band. That happens to have only one member. Now one could argue that artist is the more appropriate term here. But the Professor insists that they… erm… he is a band. Guitars, bass, drums, synths. No vocals. Professor Flitch is making music. Sometimes fast, sometimes slow, always full of life. And hope. And kicking clouds, favorite places, childhood memories, good times. Maybe music is an understatement here. Professor Flitch is painting landscapes. Never trying to fit into an algorithm. Always trying to fit into your heart.
  </p>
  <p>Professor Flitch is hailing from Salzburg, Austria and is the result of many years spent in many bands. All instruments are recorded live, there's no programming happening. Professor Flitch makes music and not beats.</p>
  <p>Questions? Feel free to reach out to <a href="mailto:hello@professorflitch.com">hello@professorflitch.com</a>.</p> 
</details>

<details>
  <summary>Über Professor Flitch - Deutsche Version</summary>
  <p>Professor Flitch ist kein Professor. Weder am Tag, noch in der Nacht. Professor Flitch ist eine Band. Die zufällig nur ein Mitglied hat. Nun könnte man argumentieren, dass “Künstler” hier der passendere Begriff wäre. Aber der Professor besteht darauf, dass sie... ähm... er eine Band ist. Gitarren, Bass, Schlagzeug, Synthesizer. Kein Gesang. Professor Flitch macht Musik. Manchmal schnell, manchmal langsam, immer voller Leben. Und Hoffnung. Und großem Himmel, Lieblingsplätzen, Kindheitserinnerungen, guten Zeiten. Vielleicht ist Musik hier eine Untertreibung. Professor Flitch malt Landschaften. Niemals mit dem Versuch, in einen Algorithmus zu passen. Immer mit dem Versuch, in Dein Herz zu passen. Professor Flitch macht Musik.
  </p>
  <p>Professor Flitch kommt aus Salzburg und ist das Resultat von vielen Jahren in vielen Bands. Alle Instrumente werden live eingespielt, Professor Flitch macht Lieder und keine Beats.</p> 
  <p>Fragen? Wendet Euch gerne an <a href="mailto:hello@professorflitch.com">hello@professorflitch.com</a>.</p> 
</details>

<article class="pickled-ginger">&nbsp;</article>

<h2>Download Releases</h2>

{% set bemusterunglist = collections.album %}
{% include "bemusterunglist.njk" %}

<h2>Stream Latest Release</h2>

<figure>
  <figcaption>1. Kicking That Door Wide Open (2:28)</figcaption>
  <audio controls src="/media/professor-flitch-kicking-that-door-wide-open.mp3"></audio>
</figure>
<figure>
  <figcaption>2. Sky City (2:44)</figcaption>
  <audio controls src="/media/professor-flitch-sky-city.mp3"></audio>
</figure>
<figure>
  <figcaption>3. Miika (3:24)</figcaption>
  <audio controls src="/media/professor-flitch-miika.mp3"></audio>
</figure>
<figure>
  <figcaption>3. Berlin Burning (3:12)</figcaption>
  <audio controls src="/media/professor-flitch-berlin-burning.mp3"></audio>
</figure>

<script src="/js/script.js"></script>

<h2>Contact</h2>

<p><a href="mailto:hello@professorflitch.com">hello@professorflitch.com</a></p>

<article class="pickled-ginger">&nbsp;</article>