---
title: Professor Flitch
layout: home.njk
description: Professor Flitch is making music. Period.
date: Last Modified
---

<style>
audio {
  display: block;
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  height: 25px;
  margin: 1em 0 .5em;
  width: 280px;
}

figure {
  margin: 2em 0;
}

figure a {
  font-size: .8em;
}

.subnav {
  margin-bottom: 3em;
}

.pill {
  background-color: rgb(220, 220, 220);
  border-radius: .4em;
  color: rgb(0, 0, 0);
  padding: .4em .8em;
  text-decoration: none;
}

.pill::before {
  content: "↓ ";
}
</style>

<div class="subnav">
  <a href="#about" class="pill">About Professor Flitch</a>
  <a href="#uneven" class="pill">About <i>Uneven</i></a>
  <a href="#stream" class="pill">Listen to <i>Uneven</i></a>
  <a href="#download" class="pill">Download Releases</a>
  <a href="#contact" class="pill">Contact</a>
</div>

<h2 id="about">About Professor Flitch</h2>

<p>Professor Flitch is not a professor. Neither at day nor at night. Professor Flitch is a band. That happens to have only one member. Now one could argue that artist is the more appropriate term here. But the Professor insists that they… erm… he is a band. Guitars, bass, drums, synths. No vocals. Professor Flitch is making music. Sometimes fast, sometimes slow, always full of life. And hope. And kicking clouds, favorite places, childhood memories, good times. Maybe music is an understatement here. Professor Flitch is painting landscapes. Never trying to fit into an algorithm. Always trying to fit into your heart.
</p>
<p>Questions? Feel free to reach out to <a href="mailto:hello@professorflitch.com">hello@professorflitch.com</a>.</p> 
</details>

<article class="pickled-ginger">&nbsp;</article>

<h2 id="uneven">About <i>Uneven</i></h2>

<p>With Uneven, Professor Flitch has arrived on the music scene. After releasing five successful EPs in the last three years, the Salzburg-based one-man instrumental band is presenting their debut album. And it's a real treat. Dreamy songs that are both intricate and accessible. Professor Flitch creates unique musical landscapes that are always worth immersing yourself in.
</p>
<p>Uneven got written and recorded between 2023 and beginning of 2025. Spanning a wide array of genres, all instruments were recorded by Stephan Weinhold. Some parts were deliberately built, others are the result of improvisation. Mixing and mastering took place during the beginning of 2025. The album will be released as a limited vinyl record (100 pieces) and via Bandcamp.
</p>

<article class="pickled-ginger">&nbsp;</article>

<h2 id="stream">Listen to <i>Uneven</i></h2>

<figure>
  <figcaption>1. The Ketamine Brothers Flying Ferret Circus</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20The%20Ketamine%20Brothers%20Flying%20Ferret%20Circus.mp3"></audio>
</figure>
<figure>
  <figcaption>2. That Last Day of Summer</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20That%20Last%20Day%20of%20Summer.mp3"></audio>
</figure>
<figure>
  <figcaption>3. The Death of Boa Sr</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20The%20Death%20of%20Boa%20Sr.mp3"></audio>
</figure>
<figure>
  <figcaption>4. Neon Neoff</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20Neon%20Neoff.mp3"></audio>
</figure>
<figure>
  <figcaption>5. L.E.P.I.</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20L.E.P.I..mp3"></audio>
</figure>
<figure>
  <figcaption>6. Living Machines of Perpetual Motion</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20Living%20Machines%20of%20Perpetual%20Motion.mp3"></audio>
</figure>
<figure>
  <figcaption>7. (Interlude)</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20%28Interlude%29.mp3"></audio>
</figure>
<figure>
  <figcaption>8. Hiding Behind the Fermi Paradox</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20Hiding%20Behind%20the%20Fermi%20Paradox.mp3"></audio>
</figure>
<figure>
  <figcaption>9. Oculus Anubis</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20Oculus%20Anubis.mp3"></audio>
</figure>
<figure>
  <figcaption>10. Mousecop</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20Mousecop.mp3"></audio>
</figure>
<figure>
  <figcaption>11. A Ghost Inside a Girl</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20A%20Ghost%20Inside%20a%20Girl.mp3"></audio>
</figure>
<figure>
  <figcaption>12. The Architect</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20The%20Architect.mp3"></audio>
</figure>
<figure>
  <figcaption>13. The End Is Just Another One In That Long Line of Endings</figcaption>
  <audio controls src="/media/Professor%20Flitch%20-%20The%20End%20Is%20Just%20Another%20One%20In%20That%20Long%20Line%20of%20Endings.mp3"></audio>
</figure>

<article class="pickled-ginger">&nbsp;</article>

<h2 id="download">Download Releases</h2>

{% set bemusterunglist = collections.album %}
{% include "bemusterunglist.njk" %}

<article class="pickled-ginger">&nbsp;</article>

<script src="/js/script.js"></script>

<h2 id="contact">Contact</h2>

<p><a href="mailto:hello@professorflitch.com">hello@professorflitch.com</a></p>

<article class="pickled-ginger">&nbsp;</article>